
{% extends "layout.html" %}
{% block content %}
    <h1>Добро пожаловать {{ current_user.username }}</h1>
    <h3>Графики</h3>
    <div>
    <h4>Популярные слова</h4>
    <img src="{{ url_for('static', filename='Рейтинг слов.png') }}" />
    </div>

    <div>
    <h4>Периоды</h4>
        <form action="/members" method="post" name="">
            <select name="account">
                {% for item in accounts %}
                    <option>{{ item }}</option>
                {% endfor %}
            </select>
        <p><input type="submit" value="Отправить"></p>
        </form>
    <!-- <img src="{ url_for('static', filename='Выборка периодов.png') }" /> -->
    </div>

    <div>
    <h4>Активность аккаунтов</h4>
    <img src="{{ url_for('static', filename='Активность.png') }}" />
    </div>

{% endblock %}

